{% extends "statuscheck/layout.html" %}

{% block body %}

<div class="time_updated">Last updated: {{ last_update_time }} UTC</div>

{% if request.method == 'POST' %}
    {% include "statuscheck/result_field.html" %}
{% else %}
    {% include "statuscheck/search_field.html" %}
{% endif %}

{% for group, urls in checkurls.items %}
 
    <h1 class="group">{{ group }}</h1>
    {% for url in urls %}
        {% if returned_statuses|get_item:url == "200" %}
            <p class="good-url">{{ url }}<br>
            <font class="good-second-line"><font class="good-color">Status: {{ returned_statuses|get_item:url }}</font>  | Uptime: {{ returned_uptimes|get_item:url|floatformat:2 }}%</p></font>
        {% endif %}
    {% endfor %}
    
    {% for url in urls %}
        {% if returned_statuses|get_item:url == "200" %}
        {% else %}
            <p class="bad-url">{{ url }}<br>
            <font class="bad-second-line"><font class="bad-color">Status: {{ returned_statuses|get_item:url }}</font> | Uptime: {{ returned_uptimes|get_item:url|floatformat:2 }}%</p></font>
        {% endif %}
    {% endfor %}
    
{% endfor %}
 
{% endblock %}